<div class="faq-content">
    <div class="faq">
        <details class="faq-card">
            <summary class="faq-card-title">Как взять книгу</summary>
            <ol>
                <li>
                    Выбери нужную книгу <a class="faq-a" href="@Url.Action("Books", "Visitor", new { sortBy = "title", sortOrder = "asc",
                                                pageNumber = 1, pageSize = 100, selectedCategories = "Все" })">в каталоге библиотеки</a> или <a class="faq-a" href="@Url.Action("Index", "Home")">на главной странице.</a>
                </li>
                <li>
                    Нажми кнопку «Запросить» рядом с выбранной книгой.
                </li>
                <li>
                    Дождись уведомления по электронной почте о том, что книга доставлена на ресепшен и готова к выдаче.
                </li>
            </ol>
            <br />
            Книга выдается на 1 месяц
            с возможностью продления (через раздел <a class="faq-a" href="@Url.Action("MyRequest", "Account", new { sortBy = "id", sortOrder = "asc",
                                                pageNumber = 1, pageSize = 50, selectedRequest = "Все" })">Мои запросы</a>).
        </details>
        <details class="faq-card">
            <summary class="faq-card-title">Как отменить заявку</summary>
            Отменить заявку можно, если книга еще не выдана. <br />
            <ol>
                <li>
                    Найди заявку на книгу в разделе «<a class="faq-a" href="@Url.Action("MyRequest", "Account", new { sortBy = "id", sortOrder = "asc",
                                                pageNumber = 1, pageSize = 50, selectedRequest = "Все" })">Мои запросы</a>».
                </li>
                <li>
                    Нажми кнопку «Отменить запрос».
                </li>
            </ol>
        </details>
        <details class="faq-card">
            <summary class="faq-card-title">Какие книги числятся за мной</summary>
            Книги, которые ты получил в библиотеке, можно найти в разделе
            <a class="faq-a" href="@Url.Action("MyRequest", "Account", new { sortBy = "id", sortOrder = "asc",
                                                pageNumber = 1, pageSize = 50, selectedRequest = "Все" })">Мои запросы</a>.
        </details>
        <details class="faq-card">
            <summary class="faq-card-title">Как вернуть книгу</summary>
                Сдай книгу на ресепшен и в разделе <a class="faq-a" href="@Url.Action("MyRequest", "Account", new { sortBy = "id", sortOrder = "asc",
                                                pageNumber = 1, pageSize = 50, selectedRequest = "Все" })">Мои запросы</a> нажми на ✔️, чтобы сообщить администратору о сдаче книги.
            <br />
            <br />
            Не забудь оценить книгу и оставить отзыв.
        </details>
        <details class="faq-card">
            <summary class="faq-card-title">Хочу оставить отзыв</summary>
            Отзыв можно оставить в любой момент из разделов:
            <ul>
                <li>
                    <a class="faq-a" href="@Url.Action("MyRequest", "Account", new { sortBy = "id", sortOrder = "asc",
                                                pageNumber = 1, pageSize = 50, selectedRequest = "Все" })">Мои запросы</a>, нажав на 💬;
                </li>
                <li>
                    из карточки книги в блоке
                    с комментариями;
                </li>
                <li>из письма после возврата книги.</li>
            </ul>
        </details>
        <details class="faq-card">
            <summary class="faq-card-title">Если книга уже занята</summary>
                Дождись, пока книга вернется в библиотеку. Она будет находиться в статусе «Недоступна до (дата возврата книги в библиотеку)».
        </details>
        <details class="faq-card">
            <summary class="faq-card-title">Хочу передать свою книгу в библиотеку</summary>
            В библиотеку можно передать книгу, если она подходит под условия:
            <ul>
                <li>
                    профессиональная литература (например, информационные технологии, личная эффективность и пр.);
                </li>
                <li>
                    нехудожественная литература (не подходят романы, пьесы, поэзия и тд.);
                </li>
                <li>
                    в отличном состоянии (нет порванных страниц, загрязнений, разрисованных страниц, следов взаимодействия с водой и тд.);
                </li>
                <li>
                    содержат актуальную информацию (например, современные, используемые методологии программирования);
                </li>
                <li>
                    на русском или английском языке.
                </li>
            </ul>
            <br />
            Заполни <a class="faq-a" target="_blank" href="https://twiki.bia-tech.ru/plugins/game/request.action">форму заявки</a>:
            <ul>
                <li>
                    в поле «Я хочу» выбери «принести книгу в библиотеку»;
                </li>
                <li>
                    в поле «Описание» укажи основные сведения о книге, например, название, автор, год издания, номер издания (если есть) и язык.
                </li>
            </ul>
            <br />
            Когда запрос будет обработан, на твою почту придет письмо. Передай книгу в Отдел обучения и развития персонала.
        </details>
        <details class="faq-card">
            <summary class="faq-card-title">Не нашел ответ на свой вопрос</summary>
            По другим вопросам, связанным с библиотекой и книгами, обращайся в <a class="faq-a" href="https://jira.bia-tech.ru/plugins/servlet/desk/portal/23/create/251">АХО</a>.
        </details>
    </div>
</div>